<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>th:text="${announcment.contents}"></title>
</head>
<body>
<h1 th:text="${announcment.subject}"></h1>
<p th:text="${announcment.contents}"></p>
</body>
</html>